{% extends 'home.html' %}
{% block body %}

 <h3>Contact us</h3>
<section class="container" style="margin-top:5px">
    <section class="row justify-content-center">
        <section class="col-12 col-lg-6 col-md-12">
  <form  method="post" action="/contact/" class="form-container"><br>
    <label>Full Name</label><br>
    <input type="text" class="form-control" name="fullname" placeholder="Your full name.."><br>


    <label>Email</label><br>
    <input type="email" class="form-control" name="email" placeholder="Your Email id.."><br>

    <label>Problem Heading</label><br>
    <input type="text"  class="form-control" name="heading" placeholder="Your Problem heading.."><br>

    <label >Subject</label><br>
    <textarea id="subject" class="form-control" name="subject" placeholder="Write something.." ></textarea><br>

    <input class="btn btn-primary btn-block" type="submit" value="Submit">
  </form>

        </section></section></section>
 {% endblock %}