<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylefiles.css') }}">
</head>
<body>
<h2>Login</h2>
<section class="container">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">

      <form method="post" action="" style="text-align:center; " class="form-container">
        <p><input class="form-control"   type="text" name="username" value="{{request.form.username}}" placeholder="Username or Email " required></p>
        <p><input  type="password"  class="form-control" name="password" value="{{request.form.password}}" placeholder="Password" required></p>
        <input  class="btn btn-success btn-block"  type="submit" name="commit" value="Login">
      </form>



</section>
</section>
  </section>


 </body>
</html>