<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="wrapper">
<h2 style="text-align:center;margin-top:15%">Login</h2>
<section class="container" style="text-align:center;">
      <div class="col-md-12">
      <form method="post" action="" style="text-align:center; ">
        <p><input style="text-align:center;border:2px solid green;width:190px;height:40px"   type="text" name="username" value="{{request.form.username}}" placeholder="Username or Email " required></p>
        <p><input style="text-align:center;border:2px solid green;width:190px;height:40px" type="password"  name="password" value="{{request.form.password}}" placeholder="Password" required></p>
        <input  class="btn btn-success"  type="submit" name="commit" value="Login">
      </form><br>

    </div>
    </div>
  </section>
</div>
 </body>
</html>