{% extends 'home.html' %}
{% block body %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-success">{{ msg }}</div>
    {% endfor %}
<section class="container" style="margin-top:5px">
    <section class="row justify-content-center">
        <section class="col-12 col-lg-6 col-md-12">
            <h2 style="margin-top:2px">Publish your news</h2>
            <form method="post" action="" class="form-container">


                <label for="headlines">
                    <i class="fa fa-quote-left  fa-pull-left" aria-hidden="true"></i>
                </label>
                  <div class="form-group">
                    <input type="text" class="form-control"  id="headlines" name = "headlines" placeholder="HeadLines..." required>
                  </div>

                <label for="desc">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                </label>
                  <div class="form-group">
                    <input type="text" class="form-control"  id="desc"  name = "description" placeholder="Description..." required>
                  </div>

                <label for="author">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="author" name = "author" placeholder="Author Name..." required>
                  </div>

                <label for="category">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                </label>
                  <div class="form-group">
                    <input type="text" class="form-control"  id="category" name = "category" placeholder="General/Lifestyle/Travel/Sports/ etc..." required>
                  </div>
                    <br>
                  <div><input type="submit" class="btn btn-success " style="text-align:center;" name="publish" value="Publish">
                    </div>

            </form>
        </section>
    </section>
</section>

{% endblock %}