<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylefiles.css') }}">
</head>
<body>

    <h2>Register</h2>
    <section class="container">
    {% from "_helper.html" import render_field %}
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
      <form method="post"  action="/register/" class="form-container" >
          <div class="form-group">

              <p><input type="text" class="form-control" name="username" id="exampleInputUsername" placeholder="Username"></p></div>
          <div class="form-group">

               <p><input type="email"  class="form-control" name="email" id="exampleInputEmail" placeholder="Email"></p></div>
          <div class="form-group">

              <p><input type="password"  class="form-control" name="password" id="exampleInputPassword1" placeholder="Password"></p></div>


        <input  class="btn btn-success btn-block" type="submit" value="Register"><p></p>

          <div><p><a href="{{url_for('login')}}">Already User? Please Log In </a>.</p>
    </div>

      </form>


    </section>
    </section>
    </section>
 </body>
</html>