{% extends 'home.html' %}
{% block body %}

<section class="container" style="margin-top:5px">
    <section class="row justify-content-center">
        <section class="col-12 col-lg-6 col-md-12">
<h2>Update your news</h2>



<form method="post" action="/updatenews/{{rows[0]}}" class="form-container">

    <label for="headlines">
        <i class="fa fa-quote-left  fa-pull-left" aria-hidden="true"></i>
    </label>
  <div class="form-group">
    <input type="text" class="form-control"  id="headlines" name = "headlines" value="{{rows[1]}}" >
  </div>

    <label for="desc">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
    </label>
  <div class="form-group">
    <input type="text" class="form-control" id="desc" name = "description" value="{{rows[2]}}">
  </div>

    <label for="author">
        <i class="fa fa-user" aria-hidden="true"></i>
    </label>
  <div class="form-group">
    <input type="text" class="form-control" id="author" name = "author" value="{{rows[3]}}" >
  </div>

    <label for="category">
        <i class="fa fa-tags" aria-hidden="true"></i>
    </label>
    <div class="form-group">
    <input type="text" class="form-control" id="category"  name = "category" value="{{rows[4]}}" >
  </div>

    <input type="submit" class="btn btn-success btn-block"  name="update" value="Update">
</form>


        </section>
    </section>
</section>

 {% endblock %}